<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.msu.scrabble.project1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.msu.scrabble.project1.MainActivity"
            android:label="@string/app_name" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.DrawActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.ColorSelectActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.EditActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.GuessActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.CompleteActivity"
            android:label="@string/title_activity_complete" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.DoneActivity"
            android:label="@string/title_activity_done" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.DialogDoneActivity"
            android:label="@string/title_activity_dialog_done" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.DialogDone"
            android:label="@string/title_activity_dialog_done" >
        </activity>
        <activity
            android:name="edu.msu.scrabble.project1.FinalActivity"
            android:label="@string/title_activity_final" >
        </activity>
    </application>

</manifest>